html {
    /* 
     * Maximum values for a popup are:
     *  - width: 800px;
     *  - height: 600px;
     */
    width: 700px;
    height: 500px;
}

body {
    margin: 0;
}

#popup {
    height: 100%;
    box-sizing: border-box;
}

#dashboard-button-container {
    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    border: none;
}

#dashboard-button-container:hover {
    background-color: rgba(255,255,255,0.95);
}
