:root {
    --side-bar-background: #F9F6FB;
    --dashboard-background-top: #ABCBED;
    --dashboard-background-bottom: #DDCDE9;
    --selected-side-bar-background: #D4D0D7;
    --hover-sidebar-background: #EDEAEF;
}

#root, body, html {
    height: 100%;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.25rem;
}

ul {
    margin-top: 10px;
}

ul ul li, p, ol ul li {
    font-size: 1rem;
}

ol li {
    font-size: 1.1rem;
}
/* Sidebar */

.flexbox-container {
    height: 97.5%;
    position: relative;
    display: flex;
    gap: 0.5%;
}

.sidebar-container {
    transition: 0.5s ease-in-out;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 5px;
    width: 15%;
    background-color: var(--side-bar-background);
}

.collapsed-sidebar-container {
    transition: 0.5s ease-in-out;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 5px;
    width: 5%;
    background-color: var(--side-bar-background);
}

/* Sidebar Icons */

#selected {
    background-color: var(--selected-side-bar-background);
}

.sidebar-container .arrow-icon-container #selected, .sidebar-container:not(#hamburger-icon) .icon-holder:hover:not(#selected){
    border-radius: 20%;
}

.collapsed-sidebar-container .arrow-icon-container #selected, .collapsed-sidebar-container .icon-holder:hover:not(#selected) {
    border-radius: 40%;
}

.icon-holder:hover:not(#selected) {
    background-color: var(--hover-sidebar-background);
}

.collapsed-sidebar-container .arrow-icon-container .icon-holder {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;
}

.sidebar-container .arrow-icon-container .icon-holder {
    margin: 5px;
    padding: 5px;
    height: 80px;
}

.icon-holder * {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 5px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.icon-holder img:not(#hamburger-icon) {
    margin: auto;
    height: 40px;
}

.icon-holder:has(#hamburger-icon) {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#document-icon {
    width: 40px;
}

#education-icon {
    width: 40px;
}

#hamburger-icon {
    padding-top: 10px;
}

#dashboard, #education, #preferences {
    height: 75px;
}

.icon-holder p {
    font-size: 100%;
    padding: 10px;
}

.icon-holder a:link {
    color: black;
    text-decoration: none;
}

.icon-holder a:visited {
    color: black;
    text-decoration: none;
}
.icon-holder a:hover {
    color: black;
    text-decoration: none;
}
.icon-holder a:active {
    color: black;
    text-decoration: none;
}

/* Outlet Box*/

.outlet {
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient(var(--dashboard-background-top), var(--dashboard-background-bottom));
    padding: 1%;
    overflow: auto;
}

/* Education Page */

#two-column-container {
    display: flex;
}

#column-one, #column-two {
    width: 50%;
}

#column-one ul li, #column-two ul li {
    font-size: 1.1rem;
}

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
}

table {
    width: 100%;
}

th {
    font-size: 1.25rem;
}

td {
    text-align: center;
    font-size: 1rem;
}
/* Preferences Page */

#options-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#options-text {
    width: 100%
}

#options {
    width: 100%;
    float: right;
}

.btn-group button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 24px;
    cursor: auto; /* Pointer/hand icon */
}

.btn-group button:first-child {
    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px;
    border-right: none;
}

.btn-group {
    float: right;
    display: flex;
    flex-direction: row;
}


.btn-group button:nth-child(2) {
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */

.btn-group button:hover {
    background-color: grey;
}



/* Loading Icon */

.loadingIcon {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    background-color: red;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loadingButton {
    background-color: #808080;
    color: #DCDCDC;
}

.loadingButton:active { border-style: outset;}

.notLoadingButton {
    background-color: #DCDCDC;
    color: #000000;
}

#disclaimer {
    line-height: 1.75rem;
}